{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="calculate" method="post">
    {%csrf_token%}
    <label for="number1"><b>Enter the first value</b></label>
    <input type="number" placeholder="enter the value" name="num1">

    <label for="number2"><b>Enter the second value</b></label>
    <input type="number" placeholder="enter value" name="num2">

    <button type="submit">Calculate</button>

</form>
</body>
</html>
{% endblock content %}